<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.country %></title>
    <%- include('chartJs.ejs') %> 
    <%- include('style.ejs') %> 
</head>
<body class="bg-main">
    <div class="mx-auto w-min min-w-max">
        <a href="/">
            <svg class="px-4 py-4 bg-white rounded-xl h-12 inline-block mt-4 mb-2 cursor-pointer hover:-rotate-12 hover:-translate-x-2 hover:-translate-y-1 transition duration-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                <!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                <path d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"/>
            </svg>
        </a>
        <a href="/worldMap">
            <svg class="ml-6 px-4 py-4 bg-white rounded-xl h-12 inline-block mt-4 mb-2 cursor-pointer hover:-rotate-12 hover:-translate-x-2 hover:-translate-y-1 transition duration-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                <path d="M57.7 193l9.4 16.4c8.3 14.5 21.9 25.2 38 29.8L163 255.7c17.2 4.9 29 20.6 29 38.5v39.9c0 11 6.2 21 16 25.9s16 14.9 16 25.9v39c0 15.6 14.9 26.9 29.9 22.6c16.1-4.6 28.6-17.5 32.7-33.8l2.8-11.2c4.2-16.9 15.2-31.4 30.3-40l8.1-4.6c15-8.5 24.2-24.5 24.2-41.7v-8.3c0-12.7-5.1-24.9-14.1-33.9l-3.9-3.9c-9-9-21.2-14.1-33.9-14.1H257c-11.1 0-22.1-2.9-31.8-8.4l-34.5-19.7c-4.3-2.5-7.6-6.5-9.2-11.2c-3.2-9.6 1.1-20 10.2-24.5l5.9-3c6.6-3.3 14.3-3.9 21.3-1.5l23.2 7.7c8.2 2.7 17.2-.4 21.9-7.5c4.7-7 4.2-16.3-1.2-22.8l-13.6-16.3c-10-12-9.9-29.5 .3-41.3l15.7-18.3c8.8-10.3 10.2-25 3.5-36.7l-2.4-4.2c-3.5-.2-6.9-.3-10.4-.3C163.1 48 84.4 108.9 57.7 193zM464 256c0-36.8-9.6-71.4-26.4-101.5L412 164.8c-15.7 6.3-23.8 23.8-18.5 39.8l16.9 50.7c3.5 10.4 12 18.3 22.6 20.9l29.1 7.3c1.2-9 1.8-18.2 1.8-27.5zm48 0c0 141.4-114.6 256-256 256S0 397.4 0 256S114.6 0 256 0S512 114.6 512 256z"/>
            </svg>
        </a>
    </div>
    <p class="block sm:hidden text-center text-lg mt-4 font-semibold w-3/4 mx-auto relative text-white"><strong>*</strong> Best quality can be seen on bigger screens....</p>
    <div class="px-12 py-4 mb-4 shadow-xl shadow-shade relative bg-white w-min min-w-max mx-auto rounded-md mt-4 hover:-translate-y-2 ease-in-out transition duration-300">
        <form class="mx-auto w-min" action="/country" method="post">
            <label class="text-center block font-medium text-xl w-max align-baseline" for="">Search by Country:</label>
            <input class="mt-2 mx-auto border px-2 py-2 rounded align-baseline w-full" name="country" type="text">
        </form>
    </div>
    <% if(locals.tables) { %>
        <div class="mb-4 shadow-xl shadow-shade relative mx-auto px-8 py-4 w-5/6 sm:w-1/2 bg-white rounded-xl">
            <p class="text-3xl font-semibold text-center"><%= locals.country %></p>
            <% if(locals.population != "Not provided") { %>
                <p class="text-base text-center"><%= locals.population %> million people</p>
            <% } else { %>
                <p class="text-base text-center"><span class="font-bold">*</span>Not provided</p>
            <% } %>   
            <p class="mt-2 text-base text-center"><strong>*</strong>You can click on a table name to see all other tables like it</p>
        </div>
        <% locals.tables.forEach((data, i) => { %>
            <div id="table<%= data.numberedIndex %>" onclick="location.href = '/worldTable/<%=data.numberedIndex%>'" class="cursor-pointer mb-6 shadow-xl shadow-shade relative mx-auto px-8 py-4 w-5/6 sm:w-1/2 bg-white rounded-xl hover:scale-105 transition-all duration-300">
                <p class="text-3xl font-semibold text-start line-clamp-2 w-3/4"><%= data.title %></p>
                <p class="text-xl mt-2 text-start mb-2">Table <%= data.numberedIndex %></p>
                <canvas class="mb-4" id="myChart<%= i %>"></canvas>
            </div>
            <script>
            console.log(parseInt('<%=data.maxVal%>') + parseInt('<%=data.maxVal%>'));
            
             new Chart(document.getElementById('myChart<%=i%>'), {
                type: 'line',
                data: {
                labels: '<%=data.metrics%>'.split(','),
                datasets: [{
                    label: '<%= data.unit %>',
                    data: '<%=data.table%>'.split(','),
                    borderWidth: 1,
                    borderColor: "#f55142",
                    backgroundColor: "#f5f242",
                    color: "#73342e"
                }]
                },
                options: {
                    elements: {
                        point: {
                            pointStyle: 'rect'
                        }
                    },
                    plugins: {
                        legend: {
                            labels: {
                                // This more specific font property overrides the global property
                                font: {
                                    size: 16,
                                    family: 'sans-serif',
                                    weight: 'bold'
                                }
                            }
                        }
                    }
                }
            });
            // chart.defaults.elements.bar.pointStyle = "cross";
            </script>
        <% }) %> 
        <!-- <pre><%= JSON.stringify(locals.tables, undefined, 2) %></pre> -->
    <% } else { %>
        <p class="text-center text-3xl mt-4 font-bold relative text-white">Sorry, the country <%= locals.country %> isn't listed...</p>
    <% } %>  
    <script>
    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener('click', function (e) {
            e.preventDefault();

            document.querySelector(this.getAttribute('href')).scrollIntoView({
                behavior: 'smooth'
            });
        });
    });
    </script>
</body>
</html>