<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('chartJs.ejs') %> 
</head>
<body>
    <h1><%= locals.country %></h1>
    <h2><%= locals.population %> million people</h2>
    <% locals.tables.forEach((data, i) => { %>
        <br>
        <h3><%= data.title %></h3>
        <h2><%= i %> </h2>
        <div style="height: 400px; width: 500px;">
            <canvas id="myChart<%= i %>"></canvas>
        </div>
        <script>
        console.log("<%=data.metrics%>");
        console.log("<%=data.table%>\n");
        
        new Chart(document.getElementById('myChart<%=i%>'), {
            type: 'line',
            data: {
            labels: '<%=data.metrics%>'.split(','),
            datasets: [{
                label: '# of Votes',
                data: '<%=data.table%>'.split(','),
                borderWidth: 1
            }]
            },
            options: {
            scales: {}
            }
        });
        </script>
    <!-- <table>
        <thead>
            <% data.metrics.forEach((d) => { %>
                <th><%= d %> </th>
            <% }) %> 
        </thead>
        <tbody>
            <tr>
                <% data.table.forEach((elem) => { %>
                    <td><%= elem %></td>
                <% }) %> 
            </tr>
        </tbody>
    </table> -->
    <% }) %> 
    <!-- <pre><%= JSON.stringify(locals.tables, undefined, 2) %></pre> -->
</body>
</html>