<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= locals.country %></h1>
    <% locals.tables.forEach((data) => { %>
        <br>
        <h3><%= data.title %></h3>
        
    <table>
        <thead>
            <% data.metric.forEach((d) => { %>
                <th><%= d %> </th>
            <% }) %> 
        </thead>
        <tbody>
            <tr>
                <% data.table.forEach((elem) => { %>
                    <td><%= elem %></td>
                <% }) %> 
            </tr>
        </tbody>
    </table>
    <% }) %> 
    <!-- <pre><%= JSON.stringify(locals.tables, undefined, 2) %></pre> -->
</body>
</html>