<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('chartJs.ejs') %> 
    <%- include('style.ejs') %> 
</head>
<body>
    <a href="/">Back...</a>
    <div class="mx-4 my-2">
        <p class="text-3xl font-semibold text-center w-3/4 mx-auto line-clamp-2"><%= locals.table.title %></p>
        <p class="text-base mt-2 text-center w-3/4 mx-auto"><%= locals.table.description %> </p>
        <p class="mt-8 text-3xl font-semibold text-center">Table #<%= locals.num %> </p>
        <table class="table-auto mx-auto mt-4 uppercase mb-12">
            <thead>
                <tr>
                    <% locals.table.metrics.forEach((data) => { %>
                        <th class="text-start pr-10 font-semibold"><%= data %> </th>
                    <% }) %> 
                </tr>
            </thead>
            <tbody>
                <tr>
                    <% locals.globalInfo.forEach((data) => { %>
                        <td class="font-bold"><%= data %></td>
                    <% }) %> 
                </tr>
                <% locals.table.data.forEach((data, i) => { %>
                    <% if(data[0] == "Total" || data[0] == "Global") { return; } %> 
                    <tr>
                        <% data.forEach((d) => { %>
                            <td><%= d %> </td>
                        <% }) %> 
                    </tr>
                <% }) %>
        </table>
    </div>
</body>
</html>