<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= locals.table.title %> </h1>
    <h2>Metrics: <%= locals.table.metrics.join(" | ") %></h2>
    <hr>
    <h2>Table #<%= locals.num %> </h2>
    <table>
        <thead>
            <% locals.table.metrics.forEach((data) => { %>
                <th><%= data %> </th>
            <% }) %> 
        </thead>
        <tbody>
            <tr>
                <% locals.globalInfo.forEach((data) => { %>
                    <td><strong><%= data %></strong></td>
                <% }) %> 
            </tr>
            <% locals.table.data.forEach((data) => { %>
                <tr>
                    <% data.forEach((d) => { %>
                        <td><%= d %> </td>
                    <% }) %> 
                </tr>
            <% }) %> 
        </tbody>
    </table>
    <pre id="json"><%= JSON.stringify(locals.data, undefined, 2) %></pre>
</body>
</html>